<div class="container">
  <ng-container *ngIf="project">
    <div class="header">
      <input
        class="project-name"
        pInputText
        [(ngModel)]="project.name"
        saveOnChange
        placeholder="Name Your Project..."
      />
      <button
        (click)="deleteProject()"
        label="Delete Project"
        pButton
        pRipple
        icon="pi pi-trash"
        class="p-button-danger"
      ></button>
    </div>

    <div class="task-container">
      <div class="task" *ngFor="let task of project.tasks; index as i">
        <p-checkbox
          [(ngModel)]="task.complete"
          [binary]="true"
          saveOnChange
        ></p-checkbox>
        <input
          pInputText
          [(ngModel)]="task.name"
          saveOnChange
          placeholder="Name Your Task..."
        />
        <button
          (click)="moveTaskUp(i)"
          pButton
          pRipple
          icon="pi pi-arrow-up"
          class="p-button-help"
        ></button>
        <button
          (click)="moveTaskDown(i)"
          pButton
          pRipple
          icon="pi pi-arrow-down"
          class="p-button-help"
        ></button>
        <button
          (click)="deleteTask(i)"
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-danger"
        ></button>
      </div>
      <br />
      <button
        (click)="newTask()"
        label="New Task"
        pButton
        pRipple
        icon="pi pi-plus"
      ></button>
    </div>
  </ng-container>

  <ng-container *ngIf="!project">
    <div class="welcome-header">Welcome to Taskmaster!</div>
    <div class="welcome-text">
      Taskmaster is a simple and quick to-do list app.
    </div>
    <div class="welcome-text">Start a new project now!</div>
    <br />
    <button
      (click)="newProject()"
      label="New Project"
      pButton
      pRipple
      icon="pi pi-plus"
      class="p-button-success"
    ></button>
  </ng-container>
</div>
