<div class="container">
  <ng-container *ngIf="project">
    <input
      class="project-name"
      type="text"
      pInputText
      [(ngModel)]="project.name"
      saveOnChange
      placeholder="Name Your Project..."
    />

    <br />

    <ng-container *ngFor="let task of project.tasks; index as i">
      <label>Task {{ i }}:</label>
      <input type="text" [(ngModel)]="task.name" saveOnChange />
      <button (click)="toggleTask(i)">
        {{ task.complete ? "UNCOMPLETE" : "COMPLETE" }}
      </button>
      <button (click)="moveTaskUp(i)">MOVE UP</button>
      <button (click)="moveTaskDown(i)">MOVE DOWN</button>
      <button (click)="deleteTask(i)">DELETE TASK</button>
      <br />
    </ng-container>

    <br />
    <br />
    <button (click)="newTask()">NEW TASK</button>
    <br />
    <br />
    <button (click)="deleteProject()">DELETE PROJECT</button>
    <pre>{{ project | json }}</pre>
  </ng-container>
</div>
