.container {
  display: flex;
  min-height: 100%;
}

app-sidebar {
  // min-width: 15vw;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--surface-b);
}

app-main {
  // width: 85vw;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--surface-a);
}
