.container {
  display: flex;
  min-height: 100%;
}

app-sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--surface-b);
}

app-main {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--surface-a);
}
