.container {
  display: flex;
  min-height: 100%;
}

app-sidebar {
  width: 0;
  flex-grow: 1;
  background-color: var(--surface-b);
}

app-main {
  width: 0;
  flex-grow: 5;
  background-color: var(--surface-a);
}
