<div class="container" style="width: 350px">
  <div class="taskmaster-container">
    <h1 class="taskmaster">TASKMASTER</h1>
  </div>
  <br />
  <div class="project" *ngFor="let project of projects; index as i">
    <button
      (click)="project.expanded = !project.expanded"
      pButton
      pRipple
      [icon]="project.expanded ? 'pi pi-angle-down' : 'pi pi-angle-right'"
      class="p-button-rounded p-button-text"
    ></button>
    <button
      (click)="switchTo(i)"
      pButton
      pRipple
      class="p-button-text cut-text"
      style="
        font-size: 1.5rem;
        width: 200px;
        text-align: left;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
      "
    >
      {{ project.name ? project.name : "Name Your Project..." }}
    </button>
    <button
      (click)="moveProjectUp(i)"
      pButton
      pRipple
      icon="pi pi-arrow-up"
      style="font-size: 0.1px"
    ></button>
    <button
      (click)="moveProjectDown(i)"
      pButton
      pRipple
      icon="pi pi-arrow-down"
      style="font-size: 0.1px"
    ></button>
    <ng-container *ngIf="project.expanded">
      <div *ngFor="let task of project.tasks" class="task">
        <i
          class="pi pi-check complete-icon"
          [style]="task.complete ? '' : 'visibility: hidden'"
        ></i>
        <div
          style="
            background-color: transparent;
            color: white;
            text-align: left;
            width: 275px;
            overflow: hidden;
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
          "
        >
          {{ task.name ? task.name : "Empty Task" }}
        </div>
      </div>
    </ng-container>
  </div>
  <br />
  <br />
  <button
    (click)="newProject()"
    pButton
    pRipple
    icon="pi pi-plus"
    label="New Project"
  ></button>
  <br />
  <br />
</div>
