.container {
  padding: 16px;
}

.taskmaster-container {
  display: flex;
  justify-content: center;
}

.taskmaster {
  margin: 0;
}

.project {
  font-size: 2rem;
}

.task {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.complete-icon {
  margin-left: 10px;
  margin-right: 10px;
  color: var(--green-500);
  font-size: 1rem;
}
