/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

// Main checkbox overrides
$chkbox-size: 32px;
app-main {
  .p-checkbox,
  .p-checkbox .p-checkbox-box {
    width: $chkbox-size;
    height: $chkbox-size;
  }
  .p-checkbox .p-checkbox-box .p-checkbox-icon {
    font-size: calc($chkbox-size - 8px);
  }
}
